/* style.css */
:root {
  --accent-color: #faff70;
  --highlight-color: #3377FF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 220px;
  background: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #222;
  max-height: 100%;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 18px;
  color: var(--accent-color);
}

.folder {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: clip;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.folder:not(:is([disabled], .selected)):hover {
  background-color: #1db954;
  color: #000;
}

.folder.selected {
  background-color: var(--accent-color);
  color: #000;
}

.folder[disabled] {
  color: grey;
  cursor: default;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1lh;
  width: 1lh;
  text-align: center;
  margin-right: 10px;
}

.sidebar-logo-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: auto;
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: -20px;
}

.mobile-sidebar-controller {
  height: 2lh;
  width: 2lh;
  position: relative;
  left: 0;
  top: 20px;
  display: none;
  z-index: 9999;
}

#mobile-sidebar-controller {
  background-image: url(./assets/menu-open-enlarged.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border-top-right-radius: 0.2lh;
  border-bottom-right-radius: 0.2lh;
  border: 1px solid var(--accent-color);
  border-left: none;

  min-width: 2lh;
  position: fixed;

  cursor: pointer;
}

.sidebar.mobile-visible ~ #mobile-sidebar-controller {
  position: relative;
  left: 220px;
  background-image: url(./assets/menu-close-enlarged.png);
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 107px;
}

.main:not(.active) {
  display: none;
}

.top-bar h1 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 10px;
}

.tg-holder {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}

.track-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.track-grid:has(> .comp-tile) {
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

:is(.track, .comp-tile) {
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  position: relative;
  overflow: clip;
}

.track {
  border-radius: 10px;
  background: #1e1e1e;
  box-shadow: 0 0 10px var(--accent-color) inset;
  padding: 15px;
}

.track:hover {
  background: var(--accent-color);
  color: #000;
}

/*Comp Tiles */
/* Track Grid for Compilations */
.comp-tile > .cover-image {
  border-radius: 10px;
  transition: box-shadow .25s;
}

.comp-tile:hover > .cover-image {
  box-shadow: 0 0 10px var(--accent-color) inset;
}

.comp-tile {
  aspect-ratio: 1 / 1 !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
}

.comp-tile > .cover-image {
  aspect-ratio: 1 / 1;
}

.cover-char {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500%;
}

.cover-img-pic {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: inherit;
  position: relative;
  z-index: -1;
}

.comp-tile > .track-title {
  padding-top: 10px;
}

.track-artist, .track-title {
  width: 100%;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: clip;
  white-space: nowrap;
}

.track-artist {
  font-size: 0.8em;
  color: #999999;
  margin-top: 0.2em;
}

.track-menu-btn {
  float: right;
  cursor: pointer;
  font-size: 23px;
  width: 1lh;
  height: 1lh;
  border-radius: 50%;
  border: 1px solid var(--accent-color);

  font-family: 'Courier New', Courier, monospace;
}

/* When menu button is hovered */
.track > :is(:nth-child(3), .track-menu-btn):hover {
  background: var(--accent-color);
  color: #000000;
}

.track:hover:has(> :is(:nth-child(3), .track-menu-btn):hover) {
  background: initial;
  color: #FFFFFF;
}

/* When track is hovered, but menu button is not */
.track:hover > :is(:nth-child(3), .track-menu-btn):not(:hover) {
  border-color: #000000 !important;
}

.player-bar {
  position: fixed;
  right: 13px;
  bottom: 13px;
  background-color: #181818;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 15px var(--accent-color);
  z-index: 1000;
  max-height: 94px;
  width: calc(100% - 220px - 2 * 13px);
  justify-content: space-between;
}

.player-bar audio {
  display: none;
}

.track-info {
  color: var(--accent-color);
  font-size: 14px;
  width: calc(100% - 240px - 25px - 2 * 16px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-info.not-playing {
  color: #999999;
}

.play-visualiser {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--accent-color);
  padding-left: 12.5px;
  padding-right: 12.5px;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@keyframes loading-vis {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.play-visualiser > .play-pause-button {
  height: 25px;
  width: 25px;
  background-image: url(./assets/play.png);
  background-size: cover;
  background-position: center;
}

.play-visualiser:has(~ audio[src]):not(:has(~ audio[src=""])) > .play-pause-button {
  cursor: pointer;
}

.play-visualiser:not(:has(~ audio[src]):not(:has(~ audio[src=""]))) > .play-pause-button:not(.loading-btn) {
  background-color: #999999;
  background-image: none;
  mask-image: url(./assets/play.png);
  mask-size: cover;
  mask-position: center;
}

.play-pause-button.display-pause {
  background-image: url(./assets/pause.png);
}

.play-pause-button.loading-btn {
  cursor: unset;
  background-image: url(./assets/loading.png);
  animation: .7s linear infinite loading-vis;
}

.play-bar {
  width: calc(100% - 25px - 12.5px);
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.play-bar > * {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-bar > .player-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-progress > .player-prog-bar {
  width: calc(100% - 18px);
  margin: 0 9px;
  height: 5px;
  background-image: linear-gradient(to right, #999999 0% 100%, var(--accent-color) 100% 100%);
}

.play-visualiser:has(~ audio[src]):not(:has(~ audio[src=""])) .player-prog-bar {
  /* If audio has src attribute basically */
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .sidebar {
    border-right: 1px solid var(--accent-color);
    position: fixed;
    left: -220px;
    z-index: 1000;
    height: calc(100% - 107px);

    transition: left .45s;
  }

  .sidebar.mobile-visible {
    left: 0;
  }

  .mobile-sidebar-controller {
    display: unset;
    transition: left .45s;
  }

  .main {
    min-width: 100vw;
    padding-bottom: calc(107px + 10px);
    position: absolute;
  }

  .player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    border-top: 1px solid var(--accent-color);
    border-radius: 0;
    height: 107px;
    min-height: unset;
    max-height: unset;
    flex-direction: column;
  }

  .track-info {
    width: 100%;
    max-width: calc(100% - 32px);
    text-align: center;
  }
}

/* Track Info Screen */
.track-info-content {
  width: 100%;
}

.track-cover {
  width: min(100%, 210px);
  aspect-ratio: 1 / 1;
  margin: 10px auto;
  border-radius: 10px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.track-cover:not(.has-img) {
  display: none;
}

.track-name-info, .track-artist-info {
  text-align: center;
}

.track-name-info {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.track-info-play-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.track-info-play {
  font-size: 1.2em;
  border-radius: 10px;
  background-color: var(--highlight-color);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 10px 12px;

  cursor: pointer;
}

.track-info-play .track-info-play-btn {
  height: 25px;
  width: 25px;
  mask-image: url(./assets/play.png);
  background-color: #FFFFFF;
  mask-position: center;
  mask-size: cover;
  display: inline-block;
}

.track-info-play .track-info-play-text {
  display: inline-block;
  vertical-align: middle;
}

select, option {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid;
  color: inherit;
  border-radius: 5px;
}

.main option {
  background-color: #121212;
}


.go-back-bar {
  margin-bottom: 7px;
}

.go-back-button {
  display: inline-block;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.announcement-bar.enabled ~ :is(.sidebar, .main) {
  margin-top: calc(1lh + 20px);
  height: calc(100% - 1lh - 20px);
}

.announcement-bar {
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3377FF;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.announcement-bar.enabled ~ #mobile-sidebar-controller {
    top: calc(1lh + 20px + 20px);
}

a { color: white; text-decoration-line: underline; font-weight: bold; }
a:is(:has(.folder), .folder, :is(.folder > *), :is(.sidebar-links > *)) { font-weight: normal; }

.announcement-bar:not(.enabled) {
  display: none;
}

.sidebar-links {
  font-size: 0.8em;
  padding: 5px;
}